body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #dc2f2f;
}

.weather-app {
  background: #f8f8f8;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #2d4059;
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f8f8fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f7f7fe;
  border-color: #ff894c;
  border: 2px solid #dc2f2f;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #dc2f2f;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}
h1 {
  color: #8d3434;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: #2d4059;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #dc2f2f;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: #8d3434;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: #8d3434;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #2d4059;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #dc2f2f;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #2d4059;
}
